<nav class="navbar navbar-default nav">
   <div class="container">
       <div class="navbar-header">
           <a class="navbar-brand" href="#">
               <svg width="20" height="20">
                   <image href="" src="svg.png" width="20" height="20"/>
               </svg>
           </a>
         
       </div>
       <p class=" navbar-text">Infinity Inc</p>
       <div class="navbar-text navbar-right" >
           <label *ngIf="loggin"  >Welcome: {{logedInUser}}</label>
           <img [src]="userPhoto" style="border-radius:50%;height:30px;width:30px">
           <a (click)="onLogout()" *ngIf="loggin" >logout</a>
       </div>
   </div>
</nav>