<div >
    <h1>widget</h1>
    <div class="form-group">
        <label>
            <span>Name</span>
        </label>
        <input type="text" ng-model="referer.name"   class="form-control" placeholder="Referer Name">
        <div [hidden]="referer.name.valid || referer.name.pristine" class="alert alert-danger">
            <span *ngIf="!referer.name.valid">Name is required!</span>
        </div>
    </div>
    <div class="form-group">
        <label>
            <span>Url </span>
        </label>
        <input type="text" class="form-control" placeholder="url">
        <div [hidden]="referer.url.valid || referer.url.pristine" class="alert alert-danger">
            <span *ngIf="!referer.url.valid">Url is required!</span>
        </div>

    </div>
    <div class="form-group">
        <label>
            <span>Description</span>
        </label>
        <textarea class="form-control" placeholder="Description"></textarea>
        <div [hidden]="referer.description.valid || referer.description.pristine" class="alert alert-danger">
            <span *ngIf="!referer.description.valid">Description is required!</span>
        </div>
    </div>
    </div>
