<div class="container">
    <!--<form novalidate  (ngSubmit)="onSubmit(loginModel, loginModel.isValid)">-->
    <form>
        <div class="form-group">
            <label>
                <span>User Name</span>
            </label>
            <input type="text" [value]="username" class="form-control" placeholder="User Name">
            <!--<div [hidden]="loginModel.username.valid || loginModel.username.pristine" class="alert alert-danger">
                <span *ngIf="!loginModel.username.valid">user name is required!</span>
            </div>-->
        </div>
        <div class="form-group">
            <label>
                <span>Password </span>
            </label>
            <input type="password" [value]="password" class="form-control" placeholder="Password">
            <!--<div [hidden]="loginModel.password.valid || loginModel.password.pristine" class="alert alert-danger">
                <span *ngIf="!loginModel.password.valid">Password is required!</span>
            </div>-->

        </div>
       
        <button type="submit" class="btn btn-success" [disabled]="!loginModel.valid">Login</button>

    </form>

</div>