<div class="container">
    <form novalidate [formGroup]="loginModel" (ngSubmit)="onSubmit(loginModel, loginModel.isValid)">
        <div class="form-group">
            <label>
                <span>UserName</span>
            </label>
            <input  type="text" formControlName="username" class="form-control" placeholder="Enter username">
            <div [hidden]="loginModel.controls.username.valid || loginModel.controls.username.pristine" class="alert alert-danger">
                <span *ngIf="!loginModel.controls.username.valid">Userame is required!</span>
            </div>
        </div>
        <div class="form-group">
            <label>
                <span>Password </span>
            </label>
            <input type="password" formControlName="password" class="form-control" placeholder="url">
            <div [hidden]="loginModel.controls.password.valid || loginModel.controls.password.pristine" class="alert alert-danger">
                <span *ngIf="!loginModel.controls.password.valid">Password is required!</span>
            </div>
        </div>



        <button type="submit" class="btn btn-success" [disabled]="!loginModel.valid">Login</button>

    </form>

</div>